<div class="container mx-auto p-6">
  <h1 class="text-3xl font-bold mb-8">Task Board</h1>

  @if( tasks().todo.length === 0 && tasks().doing.length === 0 && tasks().completed.length === 0 ){
  <h3 class="heading-medium mb-2">You have no tasks!</h3>
  } @else{
  <div class="grid grid-cols-3 gap-6" cdkDropListGroup>
    <ng-container
      *ngTemplateOutlet="
        column;
        context: {
          status: 'Todo',
          taskList: tasks().todo,
          listId: 'todo'
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        column;
        context: {
          status: 'Doing',
          taskList: tasks().doing,
          listId: 'doing'
        }
      "
    ></ng-container>
    <ng-container
      *ngTemplateOutlet="
        column;
        context: {
          status: 'Completed',
          taskList: tasks().completed,
          listId: 'completed'
        }
      "
    ></ng-container>
  </div>
  }
</div>

<!-- Column template -->
<ng-template #column let-status="status" let-taskList="taskList" let-listId="listId">
  <div class="p-4">
    <div class="flex mb-4 items-center">
      <h2 class="heading-medium">{{ status }}</h2>
      <h2
        class="heading-medium ml-8 w-10 h-10 flex items-center justify-center bg-accent-brand text-white rounded-full"
      >
        {{ taskList.length }}
      </h2>
    </div>
    <div
      cdkDropList
      [id]="listId"
      [cdkDropListData]="taskList"
      [cdkDropListConnectedTo]="['todo', 'doing', 'completed']"
      (cdkDropListDropped)="drop($event)"
      class="space-y-3 min-h-50"
    >
      @for (task of taskList; track task.id) {
      <div cdkDrag>
        <ng-container *ngTemplateOutlet="taskCard; context: { $implicit: task }"></ng-container>
      </div>
      }
    </div>
  </div>
</ng-template>

<!-- Card template -->
<ng-template #taskCard let-task>
  <div class="bg-bg-secondary rounded-lg p-4 border border-accent-brand-white cursor-move">
    <div cdkDragHandle class="cursor-grab active:cursor-grabbing">
      <h3 class="heading-medium mb-2">{{ task.title }}</h3>
      <p class="paragraph-medium">{{ task.description }}</p>
    </div>
  </div>
</ng-template>
